.wrapper {
  text-align: center;
}

body {
  background-color: lightgrey;
  color: blue;
}
.country {
  text-align: center;
}

.title {
  color: blue;
  text-align: center;
}

.dropdown {
  text-align: center;
}
